.DS_Store
*.swp
*.swo
*~

.idea/
.vscode/
*.iml

bin/
dist/

.env
.env.local
.env.*.local

vendor/

*.log

node_modules/

internal/data/ent/gen/
*.pb.go
*.pb.gw.go

.vscode/
*.log

tmp/
temp/

coverage.txt

prometheus_data/
grafana_data/
mysql_data/
redis_data/

*.tar.gz
*.zip

k8s/secret.yaml